<!-- start custom head snippets -->
<meta name="cf-2fa-verify" content="`AOFvXN6NiMxMB4QYB71f7349`">
<!-- insert favicons. use https://realfavicongenerator.net/ -->
<link rel="me" href="https://infosec.exchange/@merill">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=JetBrains+Mono:wght@400;500;600&display=swap" rel="stylesheet">
<!-- end custom head snippets -->
