---
title: Hi, I'm Merill
layout: splash
author_profile: true
permalink: /
header:
  overlay_color: "#000"
  overlay_filter: "0.25"
  overlay_image: /assets/images/main-splash.jpeg
  actions:
    - label: "Check out my apps"
      url: "#my-apps-and-projects"
      actions:
    - label: "Read my blog"
      url: "/blog"
  caption: "[Photo: Merill Fernando - Brighton Bathing Boxes, Melbourne, Australia]"
excerpt: "I'm a Program Manager at Microsoft. In my spare time I love building apps and tools for folks in the Microsoft community."
intro: 
  - excerpt: '# **My Apps and Projects**'
feature_row1:
  - image_path: assets/images/splash/cmd.png
    alt: "cmd.ms"
    title: "[cmd.ms]"
    excerpt: "The Microsoft Cloud command line. Use the power of your browser's address bar to quickly get to any Microsoft portal."
    url: "https://cmd.ms"
    btn_label: "Check it out"
    btn_class: "btn--primary"
  - image_path: assets/images/splash/graphxray.png
    alt: "Graph X-Ray"
    title: "Graph X-Ray"
    excerpt: "Fiddler for Microsoft! Convert your actions in the Azure Portal to Graph PowerShell commands."
    url: "https://graphxray.merill.net"
    btn_label: "Check it out"
    btn_class: "btn--primary"
  - image_path: assets/images/splash/aadexporter.png
    alt: "Azure AD Exporter"
    title: "Azure AD Exporter"
    excerpt: "Export all the configuration and data of an Azure AD tenant with this PowerShell module."
    url: "/projects/server"
    btn_label: "Check it out"
    btn_class: "btn--primary"
  - image_path: assets/images/splash/graphpermexplorer.png
    alt: "Graph Permissions Explorer"
    title: "Graph Permissions Explorer"
    excerpt: "View all Graph APIs and data exposed for a given Graph Permission scope."
    url: "https://graphpermissions.merill.net"
    btn_label: "Check it out"
    btn_class: "btn--primary"
  - image_path: assets/images/splash/graphconverter.png
    alt: "Graph PowerShell Conversion Analyzer"
    title: "Graph PowerShell Conversion Analyzer"
    excerpt: "Get help converting your Azure AD and MSOL PowerShell cmdlets to Graph PowerShell."
    url: "https://graphpowershell.merill.net"
    btn_label: "Check it out"
    btn_class: "btn--primary"
  - image_path: assets/images/splash/assessment.png
    alt: "Azure AD Assessment"
    title: "Azure AD Assessment"
    excerpt: "Guidance to assess the health of an Azure AD tenant and provide recommendations for optimal configuration."
    url: "https://github.com/AzureAD/AzureADAssessment/wiki"
    btn_label: "Check it out"
    btn_class: "btn--primary"
  - image_path: assets/images/splash/msid.png
    alt: "MSIdentityTools"
    title: "Microsoft Identity Tools"
    excerpt: "Collection of useful cmdlets for common Azure AD functionality"
    url: "https://aka.ms/msid"
    btn_label: "Check it out"
    btn_class: "btn--primary"
  - image_path: assets/images/splash/inclusivenessanalyzer.png
    alt: "Inclusiveness Analyzer"
    title: "Inclusiveness Analyzer"
    excerpt: "Help developers write code and comments using inclusive language."
    url: "https://inclusivenessanalyzer.com"
    btn_label: "Check it out"
    btn_class: "btn--primary"
  - image_path: assets/images/splash/m365gender.png
    alt: "Microsoft 365 Gender Pronoun Kit"
    title: "Microsoft 365 Gender Pronoun Kit"
    excerpt: "Configure Microsoft 365 to enable staff to share their pronouns."
    url: "https://github.com/merill/m365-gender-pronoun-kit"
    btn_label: "Check it out"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row id="intro" %}

{% include feature_row id="feature_row1" %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in site.posts limit:5 %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>